@media screen and (min-width:320px) and (max-width:1199px) {
  .menu{
    position: fixed;
    z-index: 100;
    width: 116vw;
    height:auto;
    top: 0;
  }
  .footer{
    background-color:#707070;
    text-align: center;
    width: 116vw;
  }
}
